Source: dpkg-buildenv
Section: misc
Priority: optional
Maintainer: Aidan Gallagher <aidgal2@gmail.com>
Build-Depends: debhelper-compat (= 12), dh-exec, pandoc
Standards-Version: 4.5.1

Package: dpkg-buildenv
Architecture: all
Depends: docker.io | docker-ce, python3, ${misc:Depends}
Recommends: docker-buildx, bash-completion
Description: Builds debian packages in a docker container.
 Invoke without any arguments to simply build packages.
