#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

# Add a rule to convert Markdown to man
override_dh_auto_build:
	dh_auto_build
	pandoc --standalone --to man dpkg-buildenv/Documentation/dpkg-buildenv.manpage.md -o debian/dpkg-buildenv.1

override_dh_auto_clean:
	dh_auto_clean
	rm --force debian/dpkg-buildenv.1